<% if @user.id != current_user.id %>
  <div id="follow-form-<%= @user.id %>">
    <% if current_user.following.include?(@user) %>
      <%= render('pages/unfollow') %>
    <% else %>
      <%= render('pages/follow') %>
    <% end %>
  </div>
<% end %>
