<%= form_for(@newPost) do |f| %>
  <div class="field form-group">
    <%= f.text_area :content, autofocus: true, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Add Post", class: "btn btn-primary btn-add-post" %>
  </div>
<% end %>
