<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        Stats
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        Trends
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <% @posts.each do |post| %>
      <div class="card mb-3">
        <div class="card-body">
          <%= post.content %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        About
      </div>
    </div>
  </div>

</div>

<div class="row mt-3">
  <div class="col-sm-3">

  </div>

</div>
