<% if !user_signed_in? %>
  <style>
    body{
      background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/bg1.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    h1{
      color: white;
    }
  </style>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="mt-5 ml-5">Welcome to Rails Twitter</h1>
      </div>
      <div class="col-md-6">

      </div>
    </div>

  </div>

<% else %>
  <script type="text/javascript">window.location.href="/home"</script>
<% end %>
