<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      Header
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        Profile
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        Tweets
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        Whom to follow
      </div>
    </div>
  </div>

</div>

<div class="row mt-3">
  <div class="col-sm-3 offset-sm-9">
    <div class="card">
      <div class="card-body">
        Trends
      </div>
    </div>
  </div>
</div>
