<%= form_for [commentable, Comment.new] %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Add a Comment" %>
    <%= f.submit "Reply", class: "btn btn-primary"%>
  </div>
<% end %>
