/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

 body{
   font-family: 'Source Sans Pro', sans-serif;
   background-color: rgba(212, 216, 212, 0.25);
 }
 .navbar{
   background-color: white;
   .navbar-logo{
     position: absolute;
     left: 50%;
   }
 }
 #tweet{
   background-color: #1da1f2;
   padding: 0.3em 1.2em;
   border-radius: 1em;
   text-decoration: none;
   color: white;
   margin-top: 3px;
 }
